@model IdeaCreator.Models.Entities.Idea

@{
    ViewBag.Title = "Show";
}
<div style="margin-top:70px"></div>
<h2>Show</h2>

<div class="well">
    <div class="row">
        <div class="col-xs-10">
            <h3>
                <strong>@Model.Caption</strong>
            </h3>
            <div>
                <span class="lead">
                        @Model.Description
                </span>
            </div>
        </div>
        <div class="col-xs-2">
            <h3>
                <button type="button" class="btn btn-primary btn-lg" onclick="@("window.location.href='" + @Url.Action("Show", "Idea", new {id = Model.ID}) + "'")">
                    <span class="glyphicon glyphicon-search" aria-hidden="false"></span> Show
                </button>
            </h3>
        </div>
        <div class="col-xs-2">
            <h3>
                <button type="button" class="btn bg-success btn-lg" onclick="@("window.location.href='" + @Url.Action("Show", "Idea") +"'")">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="false"></span> Plus
                </button>
                <button type="button" class="btn bg-danger btn-lg" onclick="@("window.location.href='" + @Url.Action("Show", "Idea") + "'")">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="false"></span> Minus
                </button>
            </h3>
        </div>
    </div>
</div>
<div>
    @Html.Partial("_Comment", IdeaCreator.Models.ViewModels.IdeaViewModel.GetComments(Model.ID))
</div>